<h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <p>Created: <%= blog.created %></p>
        <p><%= blog.body %></p>
        <a href="/blogs/<%= blog._id %>/edit">EDIT!</a>
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>